.mainPoster{
    width: 100%;
    background-color: white;
    background-image: url("https://img.onmanorama.com/content/dam/mm/en/food/recipe/images/2021/10/19/kesar-peda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.mainPoster marquee h2{
   font-size: 2vw;
   color: yellow;
   text-align: center;
   width: 80%;
   border-radius: 3px;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: red;
   direction: left;
}
.offerPoster{
    width: 100%;  
    height: 40vh;
    position: relative;  
    z-index: 0;
}
.offerPoster img{
    z-index: 100;  
    position: absolute;
}
.offerPoster button{
    z-index: 1000;  
    position: absolute;
    bottom: 1vh;
    text-align: center;
    width: 10%;
    padding: 1%;
    border-radius: 6px;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
    border: 1px solid red;
    background-color:red;
}
.PosterCont {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-around;
}
.text{
    text-align: center;
}
.text h1,h3 {
 color: rgb(69, 13, 122);
}
.text h4{
    color: rgb(3, 116, 182);
}
.text button{
    border: 1px solid rgb(44, 81, 136);
    background-color:rgb(44, 81, 136);
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 3px;
}
.text button:hover{
    border: 1px solid black;
}
.arrow{
    text-align: center;
    color: red;
}
@media screen and (max-width:900px) {
    .PosterCont{
     flex-direction: column;
     place-items: center;
    }
  }
  @media screen and (max-width:700px) {
    .PosterCont{
     flex-direction: column;
     place-items: center;
    }
  }
  .thanku h1{
    color: rgb(14, 14, 133);
  }
  .shopMore button{
    width: 10%;
    padding: 1%;
    border-radius: 6px;
    font-size: 1.1vw;
    cursor: pointer;
    border: 1px solid yellow;
    background-color: yellow;
    color: black;
  }